doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Input test
    meta(http-equiv='Content-Type', content='text/html')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='Jonathan Dang')
    meta(name='description', content='Input Test in Different Mobile Platform.')
    script(type='text/javascript', src='libs/jquery-1.8.0.min.js')
    script(type='text/javascript', src='libs/iscroll.js')
    script(type='text/javascript', src='index.js')
    link(rel='stylesheet', type='text/css', href='libs/reset.css')
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    #wrapper.outer-wrapper
      .inner-wrapper
        form(action='')
          .auth
            input(type='text', placeholder='Input Text')
            input(type='email', placeholder='Input Email')
            input(type='url', placeholder='Input Url')
            input(type='password', placeholder='Input Password')
          .number
            input(type='tel', placeholder='Input Telephone')
            input(type='number', placeholder='Input Number')
          .time
            input(type='month', placeholder='Input Month')
            input(type='week', placeholder='Input Week')
            input(type='time', placeholder='Input Time')
          .selector
            input(type='radio', placeholder='Input Radio Button')
            input(type='range', placeholder='Input Range')
            input(type='color', placeholder='Input Color')
          .submit
            input(type='submit', placeholder='Input Submit')
            input(type='reset', placeholder='Input Reset')